### Importing libraries

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time

### Creating a Chrome WebDriver instance

In [2]:
service = Service()

options = webdriver.ChromeOptions()

driver = webdriver.Chrome(service=service, options=options)

### Navigating to the website where we will scrape data

In [3]:
url = "https://books.toscrape.com"

driver.get(url)

### Function to access book by book stored stock and title in lists

In [4]:
stock_list = []
title_list = []

def extract_stock(books_elements):
    for book in books_elements:
        book.click()
        quantity_stock = driver.find_element(By.CLASS_NAME, "instock").text.replace('In stock (', "").replace(' available)', "")
        stock_list.append(quantity_stock)
        title_book = driver.find_element(By.TAG_NAME, "h1")
        title_list.append(title_book.text)
        driver.back()

### Start counting the time it takes until the end of automation

In [5]:
start_time = time.time()

### Executes the extract_stock function several times until the next page button is unavailable

In [6]:
while True:
    books_elements = driver.find_elements(By.CLASS_NAME, "thumbnail")
    current_page = driver.find_element(By.CLASS_NAME, "current")
    print(current_page.text)
    extract_stock(books_elements)
    try:
        next_button = driver.find_element(By.CSS_SELECTOR, "li.next > a")
        next_button.click()
    except:
        print("End.")
        break

Page 1 of 50
Page 2 of 50
Page 3 of 50
Page 4 of 50
Page 5 of 50
Page 6 of 50
Page 7 of 50
Page 8 of 50
Page 9 of 50
Page 10 of 50
Page 11 of 50
Page 12 of 50
Page 13 of 50
Page 14 of 50
Page 15 of 50
Page 16 of 50
Page 17 of 50
Page 18 of 50
Page 19 of 50
Page 20 of 50
Page 21 of 50
Page 22 of 50
Page 23 of 50
Page 24 of 50
Page 25 of 50
Page 26 of 50
Page 27 of 50
Page 28 of 50
Page 29 of 50
Page 30 of 50
Page 31 of 50
Page 32 of 50
Page 33 of 50
Page 34 of 50
Page 35 of 50
Page 36 of 50
Page 37 of 50
Page 38 of 50
Page 39 of 50
Page 40 of 50
Page 41 of 50
Page 42 of 50
Page 43 of 50
Page 44 of 50
Page 45 of 50
Page 46 of 50
Page 47 of 50
Page 48 of 50
Page 49 of 50
Page 50 of 50
End.

### Ends the time count

In [7]:
end_time = time.time()

### Calculate automation time and convert into minutes

In [8]:
total_time = end_time - start_time

print(f"Total time: {round(total_time / 60)} minutes")

Total time: 6 minutes

### Create a DataFrame in Pandas from the collected title and stock data

In [9]:
df_stock = pd.DataFrame({"title": title_list,
            "stock": stock_list})
df_stock

                                                 title stock
0                                 A Light in the Attic    22
1                                   Tipping the Velvet    20
2                                           Soumission    20
3                                        Sharp Objects    20
4                Sapiens: A Brief History of Humankind    20
..                                                 ...   ...
995  Alice in Wonderland (Alice's Adventures in Won...     1
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)     1
997  A Spy's Devotion (The Regency Spies of London #1)     1
998                1st to Die (Women's Murder Club #1)     1
999                 1,000 Places to See Before You Die     1

[1000 rows x 2 columns]

### Creating a CSV file with the data

In [10]:
df_stock.to_csv('stock.csv', index=False)